version: 2.1
description: Creates and updates the CHANGELOG.md file

orbs:
  orb-tools: circleci/orb-tools@2.0.0
  changelog: ory/changelog@dev:init

workflows:
  btd:
    jobs:
      - orb-tools/publish:
          orb-path: src/changelog.yml
          orb-ref: ory/changelog@dev:${CIRCLE_BRANCH}
          publish-token-variable: "$CIRCLECI_DEV_API_TOKEN"
          validate: true
      - changelog/changelog:
          requires:
            - orb-tools/publish
